name: push - Deploy to gh-page

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Display Python version
        run: python --version

    - name: Deploy to Github Pages
      uses: JamesIves/github-pages-deploy-action@4.1.1
      with:
        branch: gh-page
        folder: site